<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461182223954-lcf9e5ud0t0u8nnbhu398ks50dq0hham.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461182223954-lcf9e5ud0t0u8nnbhu398ks50dq0hham</string>
	<key>API_KEY</key>
	<string>AIzaSyD9lEmJwsdqHlp1EE8uar0Cn0orz-0Oopw</string>
	<key>GCM_SENDER_ID</key>
	<string>461182223954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.braydenharris.U-Hunt</string>
	<key>PROJECT_ID</key>
	<string>u-hunt2019</string>
	<key>STORAGE_BUCKET</key>
	<string>u-hunt2019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461182223954:ios:2320ac3d47ecb8cb</string>
	<key>DATABASE_URL</key>
	<string>https://u-hunt2019.firebaseio.com</string>
</dict>
</plist>